<h2>
    New Schedule of <%= @team.name %>
</h2>
<%= form_tag(games_path) do %>
    <p>
        date<input type="date" name="date">
    </p>
    <p>
        place<input name="place">
    </p>
    <p>
        opponent<input name="opponent">
    </p>
    <p>
        <input type="submit" value="add">
    </p>
<% end %>